// ========================================================================
// SHARED/COMPONENTS/ICON
// ========================================================================

@import '~sassHelpers';

.icon {
  display: inline-block;
}

.white {
  fill: white;
}

.red {
  fill: red;
}
